@model VentaAutosMVC.Models.Marca
@{
    ViewBag.Title = "Detalles de la Marca";
}

<div class="container mt-5">
    <h2 class="text-center">Detalles de la Marca</h2>

    <div class="card mt-3">
        <div class="card-header">
            <h4>Marca</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">ID de Marca:</dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ID_Marca)
                </dd>

                <dt class="col-sm-3">Nombre:</dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
            </dl>
        </div>
    </div>

    <div class="mt-4 text-center">
        @Html.ActionLink("Editar", "Edit", new { id = Model.ID_Marca }, new { @class = "btn btn-primary" }) |
        @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-secondary" })
    </div>
</div>

