@model VentaAutosMVC.Models.TipoAuto
@{
    ViewBag.Title = "Detalles de la Tipo";
}

<div class="container mt-5">
    <h2 class="text-center">Detalles de la Tipo</h2>

    <div class="card mt-3">
        <div class="card-header">
            <h4>Marca</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">ID de Tipo:</dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ID_Tipo)
                </dd>

                <dt class="col-sm-3">Nombre:</dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Tipo)
                </dd>
            </dl>
        </div>
    </div>

    <div class="mt-4 text-center">
        @Html.ActionLink("Editar", "Edit", new { id = Model.ID_Tipo }, new { @class = "btn btn-primary" }) |
        @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-secondary" })
    </div>
</div>

